<div>
    <nav class="navbar is-link is-transparent" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
     
            <a routerLink="/" class="navbar-item title is-1">QuoteCreator</a>
        </div>
      
        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                <a class="button is-primary" routerLink="/signup">
                 Signup
                </a>
                <a class="button is-light" routerLink="/login">
                  Login
                </a>
              </div>
            </div>
          </div>
        </div>
      </nav>

      
</div>