<div class="container box is-one-quarters">

  <form>

    <div class="columns is-centered">
      <div class="field column is-half">
        <label class="label">Email</label>
        <div class="control has-icons-left has-icons-right">
          <input class="input" type="email" placeholder="user@email.com">
          <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
          </span>
          <span class="icon is-small is-right">
            <i class="fas fa-exclamation-triangle"></i>
          </span>
        </div>
        <!-- <p class="help is-danger">This email is invalid</p> -->
      </div>
    </div>


    <div class="columns is-centered">
      <div class="column is-half">
        <div class="field">
          <label class="label">Password</label>
          <div class="control has-icons-left has-icons-right">
            <input class="input" type="password">
            <span class="icon is-small is-left">
              <i class="fas fa-envelope"></i>
            </span>
            <span class="icon is-small is-right">
              <i class="fas fa-exclamation-triangle"></i>
            </span>
          </div>
          <!-- <p class="help is-danger">This email is invalid</p> -->
        </div>
      </div>
    </div>


    <div class="field is-grouped is-grouped-centered">
      <div class="control">
        <button class="button is-link" type="submit">Login</button>
      </div>

    </div>


  </form>
</div>
